* {
  font-family: Helvetica, Arial, sans-serif;
}

body {
  background: black;
}

h1 {
  text-align: center;
  color: white;
}

p {
  color: #3498db;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #0a7a4c;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: white;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #07482d;
  color: white;
}